<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389981925980-fj7a3u8fe20k1k95v5760rsgtua0t34e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389981925980-fj7a3u8fe20k1k95v5760rsgtua0t34e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>389981925980-13tmiosjnunst084n4njrm3m5phqmpq0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeuKkprJX4kf6m9WDJHwEs44PVGRuEW4M</string>
	<key>GCM_SENDER_ID</key>
	<string>389981925980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authAppRiverpod</string>
	<key>PROJECT_ID</key>
	<string>blogapp-3ee8c</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-3ee8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389981925980:ios:fa70d495481bb91e1fec99</string>
	<key>DATABASE_URL</key>
	<string>https://blogapp-3ee8c.firebaseio.com</string>
</dict>
</plist>